.add-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h2{
        font-weight: 500;
    }
}

.calls{
    --gap: 1rem;
    --count: 4;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap);

    &.empty-list{
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        max-width: 280px;
        margin-inline: auto;
    }

    .call-item{
        padding: .75rem;
        border: solid 1px var(--main-color);
        border-radius: 8px;
        width: calc(calc(100% / var(--count)) - var(--gap));

        .call-item-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .call-item-content{
            padding: 1rem;
            text-align: center;

            .count{
                margin-top: 0.5rem;
            }
        }
    }

    .item-badge{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        color: var(--white);
        border-radius: 50%;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        margin-inline: auto;
        margin-bottom: 0.75rem;
    }
}