
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    min-height: 100vh;
    background-color:  var(--main-color);
    color: white;
}
.loading .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.2rem;
}